<!-- Incluir social media  -  imagen ancha para poner texto encima-->
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">

        </div>
        <div class="container px-3 ">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3">
                        <h4 class="redes">Síguenos en redes</h4>
                        <div class="container">
                            <div class="row row-cols-auto">
                                <div class="col">
                                    <img class="logo-face" src="assets/icons/fb-logo.png" alt="">
                                </div>
                                <div class="col">
                                    <img class="logo-insta" src="assets/icons/insta-logo.png" alt="">
                                </div>
                                <div class="col">
                                    <img class="logo-twitter" src="assets/icons/twitter-logo.png" alt="">
                                </div>
                                <div class="col">
                                    <img class="logo-linkedin" src="assets/icons/Linked-logo.png" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h5>BIT Historys</h5>
                            <ul class="menu-footer">
                                <li> <a class="nav-link" href="#">Home </a></li>
                                <li><a href="biografias">Characters</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="login">Registro</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white ">
                <p class="h6 ">© All right Reserved. - Anita Gamboa Baez</p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- Footer -->