<h3 class="contacto">Contact Us</h3>

<form class="contact-form">
    <div class="nombre1">
        <label for="Inputnombre1" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="Inputnombre1">
    </div>
    <div class=" mb-3 ">
        <label for="InputEmail1 " class="form-label ">Ingrese correo electrónico</label>
        <input type="email " class="form-control " id="InputEmail1">
    </div>
    <div class=" mb-3 ">
        <label for="InputPassword1 " class="form-label ">Contraseña</label>
        <input type="password " class="form-control " id="InputPassword1 ">
    </div>
    <div class="mensaje1">
        <label for="mensaje1" class="form-label">Escribe tu mensaje</label>
        <textarea class="form-control" id="mensaje1" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>