<h3>Biografías de personajes</h3>

<div class="card-group">
    <div class="card">
        <img src="assets/images/2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Steve Jobs</h5>
            <p class="card-text">
                Fundador y CEO de Apple, sus aportes a la tecnología son innumerablesy marcaron la humanidad.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Nikola Tesla</h5>
            <p class="card-text">
                Inventor, ingeniero eléctrico y mecánico.​​​ Hizo numerosas invenciones en el campo del electromagnetismo, a finales del siglo XIX y principios del siglo XX
            </p>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/3.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Rene Descartes</h5>
            <p class="card-text">
                Filósofo, matemático y físico francés, considerado como el padre de la geometría analítica y la filosofía moderna, ​​ uno de los protagonistas de la revolución científica.
            </p>
        </div>
    </div>
</div>


<div class="card-group">
    <div class="card">
        <img src="assets/images/billgates.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Bill Gates</h5>
            <p class="card-text">
                Fundador y CEO de Microsoft, la mayor compañía productora de software de oficina
            </p>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/frida.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Frida Kalho</h5>
            <p class="card-text">
                Artista Mexicana, pintora y escritora con una gran personalidad que siempre se preocupó por resaltar el poder femenino.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/einstein.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Albert Einstein</h5>
            <p class="card-text">
                Matemático y físico Alemán.Entre sus aportes más destacados están la creación de la bomba atómica.
            </p>
        </div>
    </div>
</div>